/* styles.module.css */

.home {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    height: 90vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: center;
  }
  
  .home h2 {
    color: #fff; /* Set heading text color to white */
  }
  
  .home button {
    background-color: #555; /* Set button background color */
    color: #fff; /* Set button text color to white */
    padding: 10px 15px; /* Add padding to buttons for better appearance */
    margin-right: 10px; /* Add margin between buttons */
    cursor: pointer; /* Change cursor to pointer on hover */
    border: none; /* Remove button border */
    width: 300px;
    margin: 10px    ;
  }
  
  .home button:hover {
    background-color: #777; /* Darken button color on hover */
  }
  